# Get your API key from: https://resend.com
# After login, create or copy your API key and paste it here.

RESEND_API_KEY=your_key_here



# After deployment, copy your live project URL and set it in environment variables
NEXT_PUBLIC_BASE_URL=your_portfolio_link_with_https_after_deployment 